/*
   Kevin Morrison
   301316650
   Oct 9 2023
*/
/* person image */
.img-wrap{
    width: min-content;
    height: min-content;
    padding: 5px;
    background: linear-gradient(to right, #00B7FF, #07597a);;
    border-radius: 10%;
    display: flex;
    justify-content: center;
}

.img-wrap img{
    width: 200px; 
    height: 200px; 
    border-radius: 10%;
}

h2{
    font-size: 30px;
    text-align: center;
    padding: 20px;
}

/* carousel */
#carousel-container {
  overflow: hidden;
  width: 100%; /* Adjust the width as needed */
  margin: 0 auto;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel img {
  min-width: 300px;
}
